name: Testops

on:
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: ALLURE_JOB_RUN_ID - service parameter (leave blank)
        required: false
      ENDPOINT:
        description: Endpoint
        required: false
        default: https://pitneybowes.testops.cloud
      BROWSER:
        description: Browser
        required: false
        default: Opera
      OS:
        description: OS
        required: false
        default: macOS
      ALLURE_USERNAME:
        description: "ALLURE_USERNAME service parameter. Leave blank"
        required: false

env:
  ALLURE_ENDPOINT: https://pitneybowes.testops.cloud
  ALLURE_PROJECT_ID: 67
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
  ALLURE_RESULTS: "allure-results"

jobs:
  autotests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: install and configure allurectl
        uses: allure-framework/setup-allurectl@v1
        with:
          allure-endpoint: https://pitneybowes.testops.cloud/
          allure-token: ${{ secrets.ALLURE_TOKEN }}
          allure-project-id: 67

      - name: Run tests
        env:
          ENDPOINT: ${{ github.event.inputs.ENDPOINT }}
          BROWSER: ${{ github.event.inputs.BROWSER }}
          OS: ${{ github.event.inputs.OS }}
          ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
          ALLURE_RESULTS: allure-results
        run: |
          allurectl watch -- pytest --alluredir="${ALLURE_RESULTS}" --capture=no
